.central{
	text-align: center;
}

body {background-color: grey}

.imagen1{
	background-color: blue;
	border-top: 10px solid green;
	border-right: 10px solid blue;
	border-left: 10px solid blue;
	border-bottom: 10px dashed orange; 
	width: 300px;
	height: 300px;
}
.imagen2{
	background-color: blue;
	border-top: 10px solid red;
	border-right: 10px solid blue;
	border-left: 10px solid blue;
	border-bottom: 10px dashed pink; 
	width: 300px;
	height: 300px;
}

span{
	text-decoration: underline;
}

p{
	font-weight: bold;
	font-size: 1em;
	text-align: left;
}